version: 2
jobs:
  build:
    machine:
      image: ubuntu-1604:202004-01
    environment:
      CLUSTER_NAME: atul-default
      AWS_DEFAULT_REGION: us-east-1
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: build base container
          # Note that we want to run `docker build` rather than `docker-compose build`
          # here to ensure that layers are cached properly. This works around
          # https://github.com/docker/compose/issues/883.
          command: |
            docker --version
            docker login --username=${DOCKER_USERNAME} --password=${DOCKER_PASSWORD}
            docker pull justfixnyc/nycdb-k8s-loader:latest
            docker build --cache-from justfixnyc/nycdb-k8s-loader:latest --target dev -t justfixnyc/nycdb-k8s-loader:dev .
            # TODO: move this to post-production container build/push
            docker run -e AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID} -e AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY} -e AWS_DEFAULT_REGION=${AWS_DEFAULT_REGION} justfixnyc/nycdb-k8s-loader:dev python aws_schedule_tasks.py create ${CLUSTER_NAME}
      # TODO: UNCOMMENT NEXT LINES
      # - run:
      #     name: run tests
      #     command: |
      #       docker-compose --version
      #       cp .env.example .env
      #       docker-compose run app pytest
      - run:
          name: build production container
          command: |
            if [[ "${CIRCLE_BRANCH}" == "master" ]]; then
              docker build --target prod -t justfixnyc/nycdb-k8s-loader:latest .
              docker push justfixnyc/nycdb-k8s-loader:latest
            fi
